version: "3.8"

services:
  backend:
    build:
      context: ./backend
      target: deps
    command: pnpm dev
    container_name: tindev-backend
    depends_on:
      - mongo
    environment:
      MONGODB_URI: mongodb://mongo:27017/tindev
    ports:
      - 3333:3333
    volumes:
      - ./backend/:/app/
      - /app/node_modules/

  frontend:
    build:
      context: ./frontend
      target: deps
    command: pnpm dev
    container_name: tindev-frontend
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3333
    ports:
      - 3000:3000
    volumes:
      - ./frontend/:/app/
      - /app/node_modules/

  mongo:
    container_name: tindev-mongo
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
