<strong>Hello, {{ provider }}</strong>
<p>There was an appointment cancelled, check the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <small>
    This time is again available for new appointments.
  </small>
</p>
